@model CDN_Web.Models.SkillSetModel

@{
    ViewData["Title"] = "CreateSkillSet";
}

<h1>Create New SkillSet</h1>

<h4>SkillSet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SubmitCreateSkillSet">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group hidden">
                <label asp-for="SkillSetId" class="control-label"></label>
                <input asp-for="SkillSetId" class="form-control" />
                <span asp-validation-for="SkillSetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkillSet" class="control-label"></label>
                <input asp-for="SkillSet" class="form-control" />
                <span asp-validation-for="SkillSet" class="text-danger"></span>
            </div>
            <div class="form-group hidden">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="margin-top: 10px;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" style="margin-top: 10px;" asp-action="Index" asp-route-userId="@Model.UserId.ToString()">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
